@model IEnumerable<Client.Models.MeasureModel>

@{
    ViewData["Title"] = "Index";
}

<h2 class="title">
    <span class="span-col-f">This is the web app, that helps me</span>
    <span class="span-col-s">to control growing my Carolina Reaper!</span>
</h2>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="photo-index-card">
            <div class="image-wrapper">
                <img class="photo-display-img" src="@Url.Content(item.PhotoFilePath)"/>
            </div>
            <div class="display-picture-title">
                <h6>Photo Id: @Html.DisplayFor(modelItem => item.Id)</h6>
                 <h6>Light Level: @Html.DisplayFor(modelItem => item.Light)</h6>
                 <h6>Humidity level: @Html.DisplayFor(modelItem => item.Humidity)</h6>
            </div>
        </div>
    }
</div>

