@page "/about"

<h1>About</h1>
<p></p>
<h3>GardenWatcher server api:</h3>
<p></p>
<p></p>
<p>Get all time statistics from DB:</p>
<a href="http://185.43.6.193:81/api/home" target="_blank">http://185.43.6.193/api/home</a>
<p></p>
<p></p>
<p>Get current measurements from sensors:</p>
<a href="http://185.43.6.193:81/getcurrent" target="_blank">http://185.43.6.193/getcurrent</a>

<p></p>
<p></p>

<form action="https://github.com/ruslanrazakov/GardenWatcher">
    <input type="submit" value="GardenWatcher GitHub repo" />
</form>
