@page "/"

<h1>Welcome to GardenWatcher!</h1>

This web app helps to control growing plants.
It holds sensors statistics from <a href="https://en.wikipedia.org/wiki/Carolina_Reaper" target="_blank">Carolina Reaper</a> pepper.