
@{
    ViewData["Title"] = "Error";
}

<h2 class="title">
    <span class="span-col-f">Sorry there was a problem with a server.</span>
    <span class="span-col-s"> Please try again later</span>
</h2>
