@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://en.wikipedia.org/wiki/Carolina_Reaper" target="_blank">About Carolina Reaper</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
